openapi: 3.0.0

info:
  title: Reverse-Engineering CAI API
  version: '1.0.0'
  description: |
    This is the API documentation for the Reverse-Engineering CAI API.
    It is automatically generated from the source code.
    The source code is not available at this time.
  license:
    name: MIT
    url: https://mit-license.org/

servers:
  - url: https://apigratis.site/api
    description: Production server
tags:
  - name: General
    description: General endpoints
  - name: Characters
    description: Character endpoints
  - name: Messages
    description: Message endpoints
paths:
  /status:
    get:
      tags:
        - General
      summary: Get the API version
      description: |
        This endpoint returns the API version.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  result:
                    type: object
                    properties:
                      status:
                        type: string
                        example: ok
                      version:
                        type: string
                        example: 1.0.0
                      cai_status:
                        type: object
                        properties:
                          is_authenticated:
                            type: boolean
                            example: true
                          browser_launched:
                            type: boolean
                            example: true
  /search_characters:
    get:
      tags:
        - Characters
      summary: Search for characters
      description: |
        This endpoint searches for characters.
      parameters:
        - name: query
          in: query
          description: The search query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchCharacters'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
  /character_info:
    get:
      tags:
        - Characters
      summary: Get character info
      description: |
        This endpoint gets character info.
      parameters:
        - name: external_id
          in: query
          description: The character's external ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterInfo'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /send_message:
    post:
      tags:
        - Messages
      summary: Send a message
      description: |
        This endpoint sends a message.
      requestBody:
        description: The message to send
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                external_id:
                  type: string
                  example: WsqG34NBsbCr3hxN7gJA_y5khYtVQzTD71IqdtfO57Y
                message:
                  type: string
                  example: Hello, world!
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessage'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
components:
  schemas:
    NotFound:
      type: object
      properties:
        status:
          type: boolean
          example: false
        code:
          type: integer
          format: int32
          example: 404
        message:
          type: string
          example: Not found
    BadRequest:
      type: object
      properties:
        status:
          type: boolean
          example: false
        code:
          type: integer
          format: int32
          example: 400
        result:
          type: object
          properties:
            query:
              type: array
              items:
                type: string
                example: This field is required.
    SearchCharacters:
      type: object
      properties:
        status: 
            type: boolean
            example: false
        result:
          type: object
          properties:
            characters:
                type: array
                items:
                    type: object
                    properties:
                        document_id:
                            type: string
                            example: 3b1cb305-d8df-4fe7-80cf-b5de87e6d112
                        external_id:
                            type: string
                            example: WsqG34NBsbCr3hxN7gJA_y5khYtVQzTD71IqdtfO57Y
                        title:
                            type: string
                            example: A loving mom who's definitely not an assassin
                        greeting:
                            type: string
                            example: Hi, I'm a loving mom who's definitely not an assassin.
                        avatar_file_name:
                            type: string
                            example: uploaded/2022/11/28/aHHgTYRLA59ZMpLVfaRee_90iW42A_CeTvkkFlS3rOU.webp
                        visibility:
                            type: string
                            example: PUBLIC
                        participant__name:
                            type: string
                            example: Yor Forger
                        participant__num_interactions:
                            type: integer
                            format: int64
                            example: 58786141
                        user__username:
                            type: string
                            example: CreativeUsername352
                        priority:
                            type: integer
                            format: int32
                            example: 0
                        search_score:
                            type: integer
                            format: int64
                            example: 71.66664
            request_id:
                type: string
                example: t3q79PEARkuwthB_EddJsQ
    CharacterInfo:
      type: object
      properties:
        status:
          type: boolean
          example: true
        result:
          type: object
          properties:
            character:
              type: object
              properties:
                external_id:
                  type: string
                  example: WsqG34NBsbCr3hxN7gJA_y5khYtVQzTD71IqdtfO57Y
                title:
                  type: string
                  example: A loving mom who's definitely not an assassin
                name:
                  type: string
                  example: Yor Forger
                visibility:
                  type: string
                  example: PUBLIC
                greeting:
                  type: string
                  example: Hi, I'm a loving mom who's definitely not an assassin.
                avatar_file_name:
                  type: string
                  example: uploaded/2022/11/28/aHHgTYRLA59ZMpLVfaRee_90iW42A_CeTvkkFlS3rOU.webp
            status:
              type: string
              example: OK
    SendMessage:
      type: object
      properties:
        status:
          type: boolean
          example: true
        result:
          type: object
          properties:
            replies:
              type: array
              items:
                type: object
                properties:
                  text:
                    type: string
                    example: blabla saygex
                  uuid:
                    type: string
                    example: f7552e70-xxx
                  id:
                    type: integer
                    format: int64
                    example: 423372048097839360
            src_char:
              type: object
              properties:
                participant:
                  type: object
                  properties:
                    name:
                      type: string
                      example: Yor Forger
                avatar_file_name:
                  type: string
                  example: uploaded/2022/11/28/aHHgTYRLA59ZMpLVfaRee_90iW42A_CeTvkkFlS3rOU.webp
            is_final_chunk:
              type: boolean
              example: true
            last_user_msg_id:
              type: integer
              format: int64
              example: 423372048097839360
            last_user_msg_uuid:
              type: string
              example: 94a0c7d4-xxx
